#chat-input {
	margin-top: 20px;
	width: 100%;

	input {
		border-radius: 5px;
		width: 90%;
		border-style: solid;
		border: none;
	}

	button {
		width: 9%;
		background: #a85100;
		border: none;
		border-radius: 5px;
	}
}